
/*COLOR BODY*/
$color-bg:#2b2a29;
/*COLOR BODY*/

/* COLOR WHITE*/
$color-white: #fff;
$color-red: #dd062a;
$color-green: #7dce85;
/* COLOR WHITE*/

/*START COLOR TEXT*/
$color-primary: #fefefe;
$color-text-primary: #FED304;
$color-text-secondary: #b1b1b1;
/*END COLOR TEXT*/

/*START BG COLORS*/
$color-bg-primary: rgba(102, 98, 98, 0.345);
$color-bg-secondary: #686868b7;
$color-bg-three: #9d439a;
$color-bg-star: #201e2063;
$color-bg-four: #70707020;
$color-bg-five: #505050;
$color-bg-six: #c1c1c1;
$color-bg-menu-admin: #00000013;
$color-bg-trash-image:#953636;
$color-bg-birthday-package:#D9A846;
$color-bg-uplode-image-modal:#ECECEC;
$color-bg-btn-main:rgb(159 159 159 / 42%);
$color-bg-btn-user-comments-left:#DF2727;
$color-bg-btn-user-comments-right:#36CB3B;
/*END BG COLORS*/

/*START BORDER COLOR*/
$color-border-priary: #7070701d;
$color-border-secondary: #b1b1b1;
$color-border-three: #ebebeb;
$color-btn-uppackage:#CD9B38;
$color-border-content-modal:#7b7979;
$color-border-user-comments:rgb(112, 110, 110);
/*END BORDER COLOR*/


