
/* ----------------------------- YEKANBAKH ----------------------------- */

@font-face {
  font-family: pinar;
  font-style: Light;
  font-weight: 300;
  src: url("../fonts/Pinar-Light.eot");
  src: url("../fonts/Pinar-Light.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */
      url("../fonts/Pinar-Light.woff")
      format("woff"),
      url("../fonts/Pinar-Light.woff2")
      format("woff2"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("../fonts/Pinar-Light.otf")
      format("truetype");
}
  @font-face {
    font-family: pinar;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Pinar-Regular.eot");
    src: url("../fonts/Pinar-Regular.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-8 */
        url("../fonts/Pinar-Regular.woff")
        format("woff"),
        url("../fonts/Pinar-Regular.woff2")
        format("woff2"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("../fonts/Pinar-Regular.otf")
        format("truetype");
  }
  @font-face {
    font-family: pinar;
    font-style: Medium;
    font-weight: 500;
    src: url("../fonts/Pinar-Medium.eot");
    src: url("../fonts/Pinar-Medium.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-8 */
        url("../fonts/Pinar-Medium.woff")
        format("woff"),
        url("../fonts/Pinar-Medium.woff2")
        format("woff2"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("../fonts/Pinar-Medium.otf")
        format("truetype");
  }
  @font-face {
    font-family: pinar;
    font-style: Bold;
    font-weight: 600;
    src: url("../fonts/Pinar-Bold.eot");
    src: url("../fonts/Pinar-Bold.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-8 */
        url("../fonts/Pinar-Bold.woff")
        format("woff"),
        url("../fonts/Pinar-Bold.woff")
        format("woff2"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("../fonts/Pinar-Bold.otf")
        format("truetype");
  }
  @font-face {
    font-family: pinar;
    font-style: Extrabold;
    font-weight: 900;
    src: url("../fonts/Pinar-ExtraBold.eot");
    src: url("../fonts/Pinar-ExtraBold.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-8 */
        url("../fonts/Pinar-ExtraBold.woff")
        format("woff"),
        url("../fonts/Pinar-ExtraBold.woff2")
        format("woff2"),
      /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
        url("../fonts/Pinar-ExtraBold.otf")
        format("truetype");
  }



  
